<div class="card shadow-sm">
  <img class="bg-placeholder-img card-img-top" width="100%" src='{{"assets/images/" + game.img + ".jpg"}}'>
  <div class="card-body">
    <p class="card-text"> {{game.name}}</p>
    <p class="card-text"> {{game.category}}</p>
    <p class="card-text"> {{game.quantity}}</p>
    <p class="card-text"> {{game.price | currency}}</p>

    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-primary">Buy</button>
      <button type="button" class="btn btn-sm btn-primary">Details</button>
    </div>


  </div>
</div>
